<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1061084423788-i4st8k0rrpm9rtd6st60pv5v7q9ef0b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061084423788-i4st8k0rrpm9rtd6st60pv5v7q9ef0b1</string>
	<key>API_KEY</key>
	<string>AIzaSyD_3W0U_f6l5MFMDmqtwVkANZsxSilZIfw</string>
	<key>GCM_SENDER_ID</key>
	<string>1061084423788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codesworth.CWGNALET</string>
	<key>PROJECT_ID</key>
	<string>cwgnalet</string>
	<key>STORAGE_BUCKET</key>
	<string>cwgnalet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061084423788:ios:4f36144037123ef5</string>
	<key>DATABASE_URL</key>
	<string>https://cwgnalet.firebaseio.com</string>
</dict>
</plist>